@{
  Layout = "_Layout";
}

<div class="container text-center">

  <h3>List of clients:</h3>
  @if (@Model.Count == 0)
  {
    <h3>No clients exist!</h3>
  } else {
  @foreach (var client in Model)
  {
  <h3><a href='/stylists/@client.GetStylistId()/clients/@client.GetId()'>@client.GetClientName()</a></h3>
  }
  }
  <br>
  <a href="/clients/delete">Delete all clients</a><br>
</div>
