@{
  Layout = "_Layout";
}

<div class="container">

<h3>Add a new Specialty</h3>

<form action="/specialties" method="post">
  <label for="specialtyName">Specialty name</label>
  <input id="specialtyName" name="specialtyName" type="text">

  <button type="submit" class="btn  btn-info">Add a new specialty</button>
</form>

<p><a href="/specialties">Specialty List.</a></p>
</div>
