@{
  Layout = "_Layout";
}

<div class="container text-center">
<div class='jumbotron'>
  <h1>Welcome to Salon JK</h1>
  </div>

  <h1><a href='/stylists'>Choose by Stylist</a></h1><br>
  <h1><a href='/specialties'>Choose by Specialty</a></h1><br>

  <style>
  img{
  border-radius: 50%;
  }
  </style
<div class="row">
<div class="col-md-3">
<img src="/images/img2.jpg" alt="Style" height=180px; width=170px>
</div>
<div class="col-md-3">
<img src="/images/img3.jpeg" alt="Men" height=180px; width=170px>
</div>
<div class="col-md-3">
<img src="/images/img4.jpg" alt="kids" height=180px; width=170px>
</div>
<div class="col-md-3">
<img src="/images/img1.jpg" alt="event" height=180px; width=170px>
</div>
</div>
</div>
