@{
  Layout = "_Layout";
}

<div class="container" class="text-center">
  <h2>Edit Stylist</h2>
  <form action="/stylists/@Model.GetId()/edit" method="post">
    <label for="name"> Name: </label>
    <input type="text" name="name" value='@Model.GetName()''>
    <br>
    <label for="description">Description: </label>
    <input type="text" name="description" value='@Model.GetDescription()'>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <h4><a href = "/stylists">Return to Stylists</a></h4>
</div>
