@{
  Layout = "_Layout";
}

<div class="container">

<h3>Add a Stylist</h3>

<form action="/stylists" method="post">
  <label for="stylistName">Stylist full name</label>
  <input id="stylistName" name="stylistName" type="text">

  <label for="stylistDescription">Add a description</label>
  <input id="stylistDescription" name="stylistDescription" type="text">
  <button type="submit" class="btn  btn-info">Add</button>
</form>

<h4><a href="/stylists">Return to Stylists</a></h4>
</div>
